header {
    padding: 50px;
    background-color: wheat;
}

.a1 {
    padding: 50px;
    background-color: wheat;
}

.a2 {
    padding: 50px;
    background-color: wheat;
}

body {
    background-color: wheat;
}